{{ if not (eq .Params.gitalk false) }}
	<div id="gitalk"></div>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
	<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
	<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
	
	<script>
	var gitalk = new Gitalk({
	  clientID: '{{ $.Site.Params.gitalk.clientID }}',
	  clientSecret: '{{ $.Site.Params.gitalk.clientSecret }}',
	  repo: '{{ $.Site.Params.gitalk.repo }}',
	  owner: '{{ $.Site.Params.gitalk.owner }}',
	  admin: {{ $.Site.Params.gitalk.admin }},
	  id: md5(location.pathname),
	  distractionFreeMode: false
	})
	gitalk.render('gitalk')
	</script>
{{ end }}